<ion-header>
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>Milk</ion-label>
      <p>1</p>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Done</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Eggs</ion-label>
      <p>2</p>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Done</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Bacon</ion-label>
      <p>4</p>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Done</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
